body {
    background-color: black;
    color: beige;
}
.card {
    width: 1000px;
    height: 400px;
    padding: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "shop cookie upgrade"
                        "shop count upgrade"
                        "shop count upgrade";
    gap: 20px;
}

.shop {
    grid-area: shop;
}
.upgrade {
    grid-area: upgrade;
}
.count {
    grid-area: count;
    align-self: start;
}

.container {
    width: 250px;
    height: 250px;
    grid-area: cookie;
}
.cookie {
    width: 200px;
    height: 200px;
    transition: 0.05s ease-in-out;
}

.large-cookie {
    width: 220px;
    height: 220px;
}
.shop-item {
    background-color: aqua;
    width: 200px;
    height: 50px;
    transition: 0.5s ease-in-out;
}
.shop-item-unavailable {
    background-color: red;
    width: 200px;
    height: 50px;
}
.upgrade-item {
    background-color: darkorange;
    width: 200px;
    height: 50px;
}